<div>
  <form class="form-horizontal" [formGroup]="angForm" novalidate  >
   <div>
     <h1>Bank Registeration</h1>
   </div>
   <div class="form-group">
     <input type="text" class="form-control" name="bankname" [(ngModel)]="bankname" formControlName="bankname" placeholder="Enter a bank name">
     {{bankname}}
   </div>
   <br>
   <div class="form-group">
      <input type="number" class="form-control" name="loan" [(ngModel)]="loan" formControlName="loan" placeholder="enter a loan interest">
    {{loan | percent}}
   </div>
   <br>
   <div class="form-group">
      <input type="number" class="form-control" name="fixed" [(ngModel)]="fixed" formControlName="fixed" placeholder="enter a Fixed interest">
    {{fixed}}
   </div>

  </form>
</div>
<div>
  
</div>
  
<div *ngIf="angForm.controls['bankname'].valid ">
  <div *ngIf="angForm.controls['loan'].valid && angForm.controls['loan'].value > 0 && angForm.controls['loan'].value <= 100">
    <div *ngIf="angForm.controls['fixed'].valid && angForm.controls['fixed'].value > 0 && angForm.controls['fixed'].value <= 100">
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" (click)="submit()" >Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>